@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
    @apply touch-none;
    @apply overflow-x-hidden;
    @apply fixed;
    @apply w-full;
    @apply h-full;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .text-shadow-lg {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  }
}

/* Fix for gradient text */
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

